.serverError {
  font-size: 14px;
  color: var(--error-color)!important;

  padding: 0px;
  margin: 0px;
}

.form-wrapper {
  position: relative;

  height: 34px;

  input {

    font-size: 16px;
    height: 37px;
    width: 100%;
    border-style: none;
    background: none;
    color: var(--contrary-color);
    vertical-align: top;
    outline: none;

    height: 30px;
  }

  div {
    content: "";

    width: 100%;
    height: 2px;

    background-color: var(--contrary-color);
  }

  div::before {
    content: "";

    position: absolute;
    bottom: 0;

    width: 100%;
    height: 2px;

    background-color: var(--highlight-color);
    transform-origin: center;
    transform: scaleX(0); 
    transition: transform 0.3s ease-in-out;
  }


  input.empty:focus ~ div::before,
  input.valid ~ div::before {
    transform: scale(1);
  }


  input.invalid ~ div::before {
    transform: scale(1);
    background-color: var(--error-color);
  }

  input.empty ~ div::before {
    transform: scale(0);
  }

  label {
    pointer-events: none;
    color: var(--contrary-color);

    position: absolute;
    left: 6px;
    bottom: 8px;

    font-size: 16px;
    transform: translateY(0px);
    transition: transform 0.3s ease-in-out;

    span {
      font-size: 12px;
    }
  }

  input.empty:focus ~ label,
  input.valid ~ label {
    transform: translateY(-22px);
    font-size: 14px;
    color: var(--highlight-color);
  }

  input.empty ~ label {
    font-size: 16px;
    transform: translateY(0px);
    transition: transform 0.3s ease-in-out;
  }

  input.invalid ~ label{
    transform: translateY(-22px);
    font-size: 14px;
    color: var(--error-color);
  }

  .input-svg {
    fill: var(--accent-color);
    position: absolute;

    right: 6px;
    bottom: 6px;

    height: 25px;
    width: 25px;

    transition: fill 0.2s ease;

    &:hover {
      cursor: pointer;
      fill: var(--contrary-color);
    }
  }
}

.sign-in-wrapper {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .sign-in {
    width: 500px;

    border-style: solid;
    border-color: var(--acccent-color);
    border-width: 1px;
    border-radius: 4px;

    padding: 30px;
    
    box-shadow: 0 25px 50px -12px var(--strong-shadow-color);

    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
      text-align: right;
      color: var(--highlight-color);
      font-size: 30px;
      margin: 0px;
    }

    .login-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      p {
        color: var(--accent-color);

        a {
          color: var(--highlight-color);
          font-weight: 700;
          text-decoration: none;
        }
      }

      .social-login {
        width: 100%;
      
        display: flex;
        align-items: center;
        gap: 15px;

        border-top-style: solid;
        border-width: 1px;
        border-color: var(--contrary-color);

        padding-top: 15px;

        .quick-login {
          flex: 1;
          height: 40px;
    
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
    
          border-color: var(--accent-color);
    
          transition: all 0.3s ease-in-out;
          color: var(--accent-color);
    
          svg {
            width: 30px; 
            height: 30px;
            vertical-align: middle;
            fill: var(--accent-color);
            overflow: hidden;
    
            transition: all 0.3s ease-in-out;
          }
    
          &:hover {
            border-color: var(--contrary-color);
            color: var(--contrary-color);

            svg {
              fill: var(--highlight-color);
            }
          }
    
          .google {
            width: 20px;
            height: 20px;
          }
        }
      }

      button {
        border-style: solid;
        border-width: 1px;
        border-color: var(--contrary-color);
        border-radius: 4px;

        width: 100%;
        height: 40px;

        background: none;

        color: var(--contrary-color);

        transition: all 0.2s ease;

        box-shadow: 0 10px 15px -3px var(--shadow-color), 0 4px 6px -4px var(--shadow-color);
        
        svg {
          height: 30px;
          width: auto;
        }

        &:hover {
          border-color: var(--highlight-color);
          color: var(--highlight-color);

          cursor: pointer;
        }
      }
    }
  }
  @media (width < 720px) {
    .sign-in { 
      width: 100%;
      height: 100%;
  
      padding: 150px 30px 30px 30px;
      margin: 0px;
    }
  }
}

.sign-up {
  min-height: 100vh;

  margin-top: 100px;
  padding: 40px;

  display: grid;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  gap: 20px;

  width: 30vw;

  .form-wrapper {
    width: 100%;
  }

  .names,
  .passwords {
    display: flex;
    gap: 15px;

    .form-wrapper {
      flex: 1;
    }
  }

  .main-sign-up {
    display: flex;
    flex-direction: column;
    
    gap: 40px;
  }


  h1 {
    text-align: left;
    color: var(--highlight-color);
    font-size: 30px;
    margin: 0px;
  }

  .login-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    p {
      color: var(--accent-color);

      a {
        color: var(--highlight-color);
        font-weight: 700;
        text-decoration: none;
      }
    }

    .social-login {
      width: 100%;
    
      display: flex;
      align-items: center;
      gap: 15px;

      border-top-style: solid;
      border-width: 1px;
      border-color: var(--contrary-color);

      padding-top: 15px;

      .quick-login {
        flex: 1;
        height: 40px;
  
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
  
        border-color: var(--accent-color);
  
        transition: all 0.3s ease-in-out;
        color: var(--accent-color);
  
        svg {
          width: 30px; 
          height: 30px;
          vertical-align: middle;
          fill: var(--accent-color);
          overflow: hidden;
  
          transition: all 0.3s ease-in-out;
        }
  
        &:hover {
          border-color: var(--contrary-color);
          color: var(--contrary-color);

          svg {
            fill: var(--highlight-color);
          }
        }
  
        .google {
          width: 20px;
          height: 20px;
        }
      }
    }

    button {
      border-style: solid;
      border-width: 1px;
      border-color: var(--contrary-color);
      border-radius: 4px;

      width: 100%;
      height: 40px;

      background: none;

      color: var(--contrary-color);

      transition: all 0.2s ease;

      box-shadow: 0 10px 15px -3px var(--shadow-color), 0 4px 6px -4px var(--shadow-color);
      
      svg {
        height: 30px;
        width: auto;
      }

      &:hover {
        border-color: var(--highlight-color);
        color: var(--highlight-color);

        cursor: pointer;
      }
    }
  }
}

.small-login {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .small-login-buttons {
    display: flex;
    align-items: center;
    gap: 15px;

    .quick-login {
      flex: none;
      width: 40px;
      height: 40px;

      display: flex;
      justify-content: center;
      align-items: center;

      border-color: var(--accent-color);

      transition: all 0.3s ease-in-out;

      svg {
        width: 30px; 
        height: 30px;
        vertical-align: middle;
        fill: var(--accent-color);
        overflow: hidden;

        transition: all 0.3s ease-in-out;

      }

      &:hover {
        border-color: var(--contrary-color)!important;
        svg {
          fill: var(--highlight-color);
        }
      }

      .google {
        width: 20px;
        height: 20px;
      }
    }

    button {
      flex: 1;

      border-style: solid;
      border-width: 1px;
      border-color: var(--contrary-color);
      border-radius: 4px;

      width: 100%px;
      height: 40px;

      background: none;

      color: var(--contrary-color);

      transition: all 0.2s ease;

      box-shadow: 0 10px 15px -3px var(--shadow-color), 0 4px 6px -4px var(--shadow-color);
      
      svg {
        height: 30px;
        width: auto;
      }

      &:hover {
        border-color: var(--highlight-color);
        color: var(--highlight-color);

        cursor: pointer;
      }
    }
  }
}