#__next {
  --main-color: black;
  --contrary-color: white;
  --highlight-color: #28a2df;
  --shadow-color: rgb(250 250 250 / 0.1);
  --strong-shadow-color: rgb(250 250 250/ 0.25);
  
  --accent-color: #999;
  --error-color: #dc2626;
  background-color: var(--main-color);
  overflow: hidden;
}

body {
  width: 100vw;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: var(--contrary-color);
  margin: 0px;
}