#root.light {
  --main-color: white;
  --contrary-color: black;
  --highlight-color: #3b82f6;
  --shadow-color: rgb(0 0 0 / 0.1);
  --accent-color: #666;
  --error-color: #dc2626;
  background-color: var(--main-color);
  overflow: hidden;
}

#root.dark {
  --main-color: black;
  --contrary-color: white;
  --highlight-color: #3b82f6;
  --shadow-color: rgb(250 250 250 / 0.1);
  --accent-color: #999;
  --error-color: #dc2626;
  background-color: var(--main-color);
  overflow: hidden;
}


body {
  width: 100vw;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: var(--contrary-color);
  margin: 0px;
}