#root.light {
  --main-color: white;
  --contrary-color: black;
  --highlight-color: #3b82f6;
}

#root.dark {
  --main-color: black;
  --contrary-color: white;
  --highlight-color: #3b82f6;
}

body {
  width: 100vw;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: var(--contrary-color);
}