.impressum,
.privacy,
.AGB {
  padding: 60px 20px; /* Adjust padding for better spacing */

  min-height: 80vh;

  background-color: var(--main-color);
  color: var(--contrary-color);

  /* Center the content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Add some box shadow for a subtle lift effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  /* Add a border-radius for a softer look */
  border-radius: 8px;

  /* Adjust text and link colors */
  p {
    font-size: 18px; /* Slightly larger font size for better readability */
    margin-bottom: 20px; /* Add some spacing between paragraphs */
  }

  h1 {
    font-size: 32px; /* Larger font size for headings */
    color: var(--highlight-color);
    margin-bottom: 10px; /* Add some spacing below headings */
  }

  a {
    color: var(--highlight-color);
    text-decoration: none;
    transition: color 0.2s ease; /* Add a smooth color transition on hover */
  }

  a:hover {
    color: var(--highlight-hover-color); /* Define a slightly different color on hover */
  }
}