.navbar {
  position: fixed;
  z-index: 1;

  left: 0px;
  top: 0px;
  right: 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px;

  height: 45px;

  border-bottom-style: solid;
  border-width: 1px;
  border-color: var(--accent-color);

  box-shadow: 0 10px 15px -3px var(--shadow-color), 0 4px 6px -4px var(--shadow-color);

  backdrop-filter: blur(20px);
  background: none;


  .left {
    padding-left: 20px;
    padding-top: 5px;

    img {
      height: 70px;
      width: auto;
    }
  }

  @media (max-width: 720px) {
    .left {
      padding-left: 0px!important;
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 40px;

    height: 100%;

    .links {
      display: flex;
      gap: calc(20px * 1.618);

      font-size: 20px;
      color: var(--accent-color);

      .nav-wrapper {
        padding-top: calc(20px / 1.618);

        a {
          text-decoration: none;
          color: inherit;

          padding: 0px 5px 0px 5px;
          
          transition: 0.1s ease-in-out;

          &:hover ~ .underline-nav {
            transform: scale(1);
          }
        }

        .underline-nav {
          transform: scale(0);
          transition: transform 0.3s ease-in-out; 

          content: "";
          margin-top: 8px;
          height: 2px;
          background-color: var(--highlight-color);
        }

        .active {
          font-weight: 700;
          color: var(--contrary-color);
        }

        .active ~ .underline-nav {
          transform: scale(1);
          height: 3px;
          background-color: var(--contrary-color);
        }
      }
    }

    .account {
      display: flex;
      gap: 15px;
      height: 100%;

      align-items: center;

      .nav-svg {
        height: 75%;
        width: auto;
        fill: var(--contrary-color);

        transition: 0.2s ease;

        &:hover {
          cursor: pointer;
          fill: var(--highlight-color);
        }
      }
    }

    .menu-btn {
      fill: var(--contrary-color);
      transition: 0.2s ease;

      &:hover {
        fill: var(--highlight-color);
        cursor: pointer;
      }
    }

    .dropdown {
      position: fixed;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;

      display: flex;
      flex-direction: column;
      gap: 15px;
      justify-content: space-between;

      padding: 15px;

      svg {
        fill: var(--contrary-color);

        &:hover {
          cursor: pointer;
        }
      }

      .active {
        font-weight: 700;
        border-width: 3px;
      }

      a {
        color: var(--contrary-color);
        text-decoration: none;
        font-size: 24px;

        display: flex;
        align-items: center;
        justify-content: flex-end;

        padding: 15px;

        border-bottom-style: solid;
        border-width: 1px;
        border-color: var(--accent-color);

        transition: all 0.2s ease;

        &:hover {
          border-color: var(--contrary-color);
          font-weight: 700;
        }
      }

      background-color: var(--main-color);
    }
  }


}

.switches {
  border-top-style: solid;
  border-color: var(--contrary-color);
  border-width: 1px;

  padding-top: 15px;
  padding-bottom: 5px;

  display: flex;
  gap: 15px;

  button {
    flex: 1;

    background-color: var(--main-color);
    color: var(--accent-color);

    padding: 15px;

    height: 35px;

    border-style: solid;
    border-width: 1px;
    border-color: var(--accent-color);
    border-radius: 4px;

    transition: all 0.3s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    svg {
      fill: var(--accent-color);
      height: 20px!important;
      width: auto;

      transition: all 0.3s ease-in-out;
    }

    &:hover{
      cursor: pointer;
      color: var(--contrary-color);
      border-color: var(--contrary-color);
      
      svg {
        fill: var(--contrary-color)!important;
      }
    }
  }  
}

.account {
  .hover {
    position: absolute;
    right: 0px;
    top: 50px;

    width: 400px;

    .profile-dropdown {
      margin-top: 30px;
      margin-right: 4px;

      padding: 20px 30px!important;

      border-color: var(--accent-color);
      border-style: solid;
      border-width: 1px;
      border-radius: 4px;

      background-color: var(--main-color);

      box-shadow: 0 25px 50px -12px var(--strong-shadow-color);

      h1 {
        text-align: right;
        font-size: 30px;
        margin: 0px;
        padding-right: 10px;
        color: var(--highlight-color)
      }

      a {
        font-weight: 700;
        text-decoration: none;
        color: var(--highlight-color);
      }

      p {
        color: var(--accent-color);
        font-size: 16px;
        text-align: center;
      }

      input {
        appearance: none;
      }
    }
  }
}