.navbar {
  position: fixed;

  left: 0px;
  top: 0px;
  right: 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px;

  height: 45px;

  border-bottom-style: solid;
  border-width: 1px;
  border-color: var(--contrary-color);

  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  background: none;

  .left {
    height: 130%;
    padding-left: 20px;

    img {
      height: 100%;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 40px;

    height: 100%;

    .links {
      display: flex;
      gap: calc(20px * 1.618);

      font-size: 20px;
      color: var(--contrary-color);

      .nav-wrapper {
        padding-top: calc(20px / 1.618);

        a {
          text-decoration: none;
          color: inherit;

          padding: 0px 5px 0px 5px;
          
          transition: 0.1s ease-in-out;

          &:hover ~ .underline-nav {
            transform: scale(1);
          }
        }

        .underline-nav {
          transform: scale(0);
          transition: transform 0.3s ease-in-out; 

          content: "";
          margin-top: 8px;
          height: 2px;
          background-color: var(--highlight-color);
        }

        .active {
          font-weight: 700;
        }

        .active ~ .underline-nav {
          transform: scale(1);
          height: 3px;
          background-color: var(--contrary-color);
        }
      }
    }

    .account {
      display: flex;
      gap: 15px;
      height: 100%;

      align-items: center;

      svg {
        height: 75%;
        width: auto;
        fill: var(--contrary-color);

        transition: 0.3s ease-in-out;

        &:hover {
          cursor: pointer;
          fill: var(--highlight-color);
        }
      }
    }
  }
}